.button {
    height: 60px;
    text-align: center;
    align-items: center;
    padding-top: 18px;
    border-radius: 4px;
    cursor: pointer;
    letter-spacing: 4px;
}

.primary {
    background-color: black;
    color: white;
    font-weight: 100;
}

.primary:hover {
    filter: brightness(1.2);
}


.primary:active {
    background-color: white;
    color: black;
}

.secondary {
    background-color: white;
    border: 1px solid black;
    color: black;
    font-weight: 600;
}

.secondary:hover {
    filter: brightness(1.2);
}


.secondary:active {
    background-color: white;
    color: black;
}

.button-action {
    background-color: black;
    color: white;
}

.button-action:hover {
    background-color: white;
    color: black;
}