input {
    margin-top: 4px;
    height: 40px;
    border-radius: 4px;
    border: #1E304E 1px solid;
    cursor: pointer;
    outline: none;
}

input:hover {
    border: #1E304E 2px solid;
}

input:focus {
    border: #1E304E 2px solid;
}

textarea {
    margin-top: 4px;
    height: 120px;
    border-radius: 4px;
    padding: 16px;
    border: #1E304E 1px solid;
    cursor: pointer;
    outline: none;
}

textarea:hover {
    border: #1E304E 2px solid;
}

textarea:focus{
    border: #1E304E 2px solid;
}

.date {
    width: 10%;
    height: 80px;
    text-align: center;
    font-size: 24px;
    caret-color: transparent;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}