.navbar-container {
    display: flex;
    margin: 8px;
    background-color: white;
    padding: 8px 12px 4px 12px;
    border-radius: 48px;
    border: black 4px solid;
}

.navbar {
    color: #fff;
    padding: 0px 8px 8px 8px;
    display: flex;
    justify-content: space-between;
}

.navbar-brand {
    cursor: pointer;
    color: #fff;
    font-size: 2rem;
}

.navbar-brand:hover {
    filter: brightness(1.2);
}

.navbar-create:hover {
    filter: brightness(1.2);
}