.form-bool {
    background-color: var(--grey-blue);
    text-align: center;
    padding: 8px;
    border-radius: 4px;
    cursor: pointer;
    border: 1px grey solid;
}

.form-bool:hover {
    background-color: var(--sky-blue);
}