:root {
    --dark-blue: #1E304E;
    --grey-blue: #586781;
    --light-yellow: #FBEED4;
    --dark-yellow: #5D4A26;
    --blue-white-gradient: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(7,74,167,1) 100%);
  }

body {
    overflow-x: hidden;
    background-color: var(--dark-blue);
    color: white
}

h1 {
    text-align: center;
    color: var(--light-yellow);
}

h3 {
    color: var(--light-yellow);
}

p {
    color: #fff;
}

.card {
    background-color: var(--grey-blue);
}

.wrapper {
    max-width: 1200px;
    padding: 0 16px;
    margin: auto;
}

.navbar {
    padding: 20px;
    margin-bottom: 20px;
    color: #fff;
    display: flex;
    justify-content: space-between;
}

.navbar .create {
    color: #fff;
    font-size: 1.5rem;
}

.navbar .navbar-brand {
    color: #fff;
    font-size: 2rem;
}

.navbar-brand:hover, .create:hover {
    color: #fff;
}

.note-container {
    text-align: center;
    margin-top: 20px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
}

.file-upload {
    background-color: #008cba;
    cursor: pointer;
}

.file-upload:hover {
    background-color: #96becb;
}