* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
    background-color: white;
    color: grey;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0px;
    overflow-wrap: break-word;
}

h1 {
    font-family: sans-serif;
    font-weight: 100;
    color: rgb(103, 103, 103);
}

h2 {
    font-weight: 100;
    color: grey;
    letter-spacing: 2px;
}

h3 {
    font-weight: 400;
    color: grey;
}

h4 {
    font-weight: 800;
    color: rgb(145, 145, 145);
    letter-spacing: 2px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

h5 {
    font-weight: 800;
    font-size: 28px;
    color: rgb(142, 142, 142);
    letter-spacing: 4px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: none;
    font-style: italic;
}

p {
    color: #fff;
}

a {
    color: #fff;
}

.card {
    height: 320px;
    width: 100%;
    margin-top: 24px;
    border-radius: 8px;
    border: 1px solid grey;
    overflow: hidden;
    background-color: white;
    cursor: pointer;
}

.card:hover {
    border: 4px solid grey;
}

.wrapper {
    max-width: 1200px;
    padding: 0 16px;
    margin: auto;
}

.note-mine {
    background-color: white;
    padding-top: 8px;
    font-weight: 800;
}

.note-tag {
    padding: 16px;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 40px;
    margin-right: 4px;
    color: white;
    display: flex;
}

.view-selector-option {
    cursor: pointer;
}

.view-selector-option:hover {
    filter: brightness(0);
}